<a href="https://colab.research.google.com/github/SankarSivan/Guvi_DSC_Case-study/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 16382, done.
remote: Counting objects: 100% (1180/1180), done.
remote: Compressing objects: 100% (1002/1002), done.
remote: Total 16382 (delta 159), reused 1114 (delta 157), pack-reused 15202 (from 1)
Receiving objects: 100% (16382/16382), 23.67 MiB | 5.81 MiB/s, done.
Resolving deltas: 100% (7901/7901), done.
Updating files: 100% (8291/8291), done.

In [5]:
import pandas as pd
import json
import os

### **1.1 Aggregated_Transaction Data Exraction**

In [6]:
import os
path = "/content/pulse/data/aggregated/transaction/country/india/state"
Aggr_state_list = os.listdir(path)
print(Aggr_state_list)

['odisha', 'gujarat', 'punjab', 'ladakh', 'bihar', 'goa', 'nagaland', 'chhattisgarh', 'tripura', 'puducherry', 'meghalaya', 'west-bengal', 'maharashtra', 'manipur', 'dadra-&-nagar-haveli-&-daman-&-diu', 'tamil-nadu', 'rajasthan', 'uttarakhand', 'telangana', 'assam', 'karnataka', 'sikkim', 'madhya-pradesh', 'haryana', 'delhi', 'himachal-pradesh', 'jharkhand', 'andhra-pradesh', 'arunachal-pradesh', 'kerala', 'jammu-&-kashmir', 'chandigarh', 'mizoram', 'andaman-&-nicobar-islands', 'lakshadweep', 'uttar-pradesh']

In [8]:
# Extract the Aggr_data

clm = {'state':[], 'year':[], 'quater':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}

# pull data
for i in Aggr_state_list:
  p_i = path + '/' + i + '/'
  Aggr_yr = os.listdir(p_i)
 #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = p_i + j + '/'
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    for k in Aggr_qutr:
      p_k = p_j + k
      Data = open(p_k, 'r')
      D = json.load(Data)

      for z in D['data']['transactionData']:
        Name = z['name']
        Count = z['paymentInstruments'][0]['count']
        Amount = z['paymentInstruments'][0]['amount']
        clm['transaction_type'].append(Name)
        clm['transaction_count'].append(Count)
        clm['transaction_amount'].append(Amount)
        clm ['state'].append(i)
        clm ['year'].append(j)
        clm ['quater'].append(int(k.strip('.json')))

aggr_trans = pd.DataFrame(clm)
print(aggr_trans)

              state  year  quater          transaction_type  \
0            odisha  2019       2     Peer-to-peer payments
1            odisha  2019       2  Recharge & bill payments
2            odisha  2019       2         Merchant payments
3            odisha  2019       2        Financial Services
4            odisha  2019       2                    Others
...             ...   ...     ...                       ...
4669  uttar-pradesh  2018       1  Recharge & bill payments
4670  uttar-pradesh  2018       1     Peer-to-peer payments
4671  uttar-pradesh  2018       1         Merchant payments
4672  uttar-pradesh  2018       1        Financial Services
4673  uttar-pradesh  2018       1                    Others

      transaction_count  transaction_amount
0              16455353        4.142329e+10
1               7845252        1.506620e+09
2               4827067        1.664621e+09
3                202705        2.042421e+07
4                181647        1.398973e+08
...                 ...                 ...
4669            7003704        1.201828e+09
4670            4123625        1.178697e+10
4671             442436        4.283014e+08
4672             397328        7.515044e+07
4673             570712        4.477224e+08

[4674 rows x 6 columns]

### **1.2 Aggregated User Data Extraction**

aggr_usr_path = "/content/pulse/data/aggregated/user/country/india/state"

Aggr_user_state_list = os.listdir(aggr_usr_path)
print(Aggr_user_state_list)

In [104]:
# Extract the Aggr_User

clm = {'state':[], 'year':[], 'quater':[], 'User_Brand':[], 'User_count':[], 'User_percentage':[]}

# Define the path to the aggregated user data
agg_usr_path = "/content/pulse/data/aggregated/user/country/india/state"
#print(os.listdir(agg_usr_path))

# List all states (folders) in the given path
Aggr_user_state_list = os.listdir(agg_usr_path)

# pull data
for i in Aggr_user_state_list:
  p_i = os.path.join(agg_usr_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print('p_k')

    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Check if 'usersByDevice' key exists and is not None
    if D['data'] and 'usersByDevice' in D['data'] and D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
            clm['User_Brand'].append(z['brand'])
            clm['User_count'].append(z['count'])
            clm['User_percentage'].append(z['percentage'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
aggr_user = pd.DataFrame(clm)
print(aggr_user)

              state  year  quater User_Brand  User_count  User_percentage
0            odisha  2019       1     Xiaomi     1230535         0.284797
1            odisha  2019       1    Samsung      784152         0.181485
2            odisha  2019       1       Vivo      594900         0.137685
3            odisha  2019       1       Oppo      518202         0.119934
4            odisha  2019       1     Realme      263954         0.061090
...             ...   ...     ...        ...         ...              ...
1975  uttar-pradesh  2018       1      Apple      135698         0.028907
1976  uttar-pradesh  2018       1     Lenovo      117510         0.025033
1977  uttar-pradesh  2018       1   Micromax      101657         0.021656
1978  uttar-pradesh  2018       1    OnePlus       98788         0.021044
1979  uttar-pradesh  2018       1     Others      705885         0.150372

[1980 rows x 6 columns]

### **1.3 Aggregated_insurance_Data_Extraction**

In [99]:
# Extract the Aggregated_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the aggregated insurance data
aggr_insurance_path = "/content/pulse/data/aggregated/insurance/country/india/state"
#print(os.listdir(aggr_insurance_path))


# List all states (folders) in the given path
Aggr_insurance_state_list = os.listdir(aggr_insurance_path)
#print(Aggr_insurance_state_list)


# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)


  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Loading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
Aggregated_insurance = pd.DataFrame(clm)
print(Aggregated_insurance)

             state  year  quater       name   count       amount
0           odisha  2020       3  Insurance   10955    2640191.0
1           odisha  2023       1  Insurance   18899   29360555.0
2           odisha  2021       1  Insurance    8236    4383330.0
3           odisha  2022       1  Insurance    9627   14539309.0
4           odisha  2024       1  Insurance   27977   40032495.0
..             ...   ...     ...        ...     ...          ...
175  uttar-pradesh  2020       3  Insurance   18131    4436969.0
176  uttar-pradesh  2023       1  Insurance   73080  127110494.0
177  uttar-pradesh  2021       1  Insurance   24103   18027573.0
178  uttar-pradesh  2022       1  Insurance   45996   73014969.0
179  uttar-pradesh  2024       1  Insurance  103701  176442664.0

[180 rows x 6 columns]

### **2.1 Map_insurance_Data_Extraction**

In [116]:
# Extract the Map_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the map insurance data
map_insurance_path = "/content/pulse/data/map/insurance/country/india/state"
#print(os.listdir(map_insurance_path))


# List all states (folders) in the given path
map_insurance_state_list = os.listdir(map_insurance_path)
#print(map_insurance_state_list)

# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
     #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # l;oading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
map_insurance = pd.DataFrame(clm)
print(map_insurance)

"\n    # Check if 'usersByDevice' key exists and is not None\n    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:\n        for z in D['data']['transactionData']:\n            clm['name'].append(z['name'])\n            clm['count'].append(z['paymentInstruments'][0]['count'])\n            clm['amount'].append(z['paymentInstruments'][0]['amount'])\n            clm['state'].append(i)\n            clm['year'].append(j)\n            clm['quater'].append(int(k.strip('.json')))\n\n# Convert dictionary to DataFrame\nAggregated_insurance = pd.DataFrame(clm)\nprint(Aggregated_insurance)\n"