<a href="https://colab.research.google.com/github/SankarSivan/Guvi_DSC_Case-study/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [121]:
import pandas as pd
import json
import os

In [122]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import streamlit as st

# Data Extraction

### **1.1 Aggregated Transaction**

In [123]:

path = "/content/pulse/data/aggregated/transaction/country/india/state"
Aggr_state_list = os.listdir(path)
# print(Aggr_state_list)

# Extract the Aggr_data

clm = {'state':[], 'year':[], 'quater':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}

# pull data
for i in Aggr_state_list:
  p_i = path + '/' + i + '/'
  Aggr_yr = os.listdir(p_i)

  #print(Aggr_yr)
  for j in Aggr_yr:
    p_j = p_i + j + '/'
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    for k in Aggr_qutr:
      p_k = p_j + k
      Data = open(p_k, 'r')
      D = json.load(Data)

      for z in D['data']['transactionData']:
        Name = z['name']
        Count = z['paymentInstruments'][0]['count']
        Amount = z['paymentInstruments'][0]['amount']
        clm['transaction_type'].append(Name)
        clm['transaction_count'].append(Count)
        clm['transaction_amount'].append(Amount)
        clm ['state'].append(i)
        clm ['year'].append(j)
        clm ['quater'].append(int(k.strip('.json')))

aggr_trans = pd.DataFrame(clm)
print(aggr_trans)

           state  year  quater          transaction_type  transaction_count  \
0     puducherry  2020       3     Peer-to-peer payments             855511
1     puducherry  2020       3         Merchant payments             560420
2     puducherry  2020       3  Recharge & bill payments             306852
3     puducherry  2020       3        Financial Services               3039
4     puducherry  2020       3                    Others               5080
...          ...   ...     ...                       ...                ...
5029  tamil-nadu  2018       4     Peer-to-peer payments           11538547
5030  tamil-nadu  2018       4  Recharge & bill payments            7093764
5031  tamil-nadu  2018       4         Merchant payments            3145621
5032  tamil-nadu  2018       4        Financial Services             228398
5033  tamil-nadu  2018       4                    Others             451114

      transaction_amount
0           3.116584e+09
1           3.355834e+08
2           1.389254e+08
3           4.788490e+06
4           2.199408e+06
...                  ...
5029        3.918008e+10
5030        2.020330e+09
5031        1.742903e+09
5032        4.657176e+07
5033        3.121857e+08

[5034 rows x 6 columns]

### **1.2 Aggregated User**

aggr_usr_path = "/content/pulse/data/aggregated/user/country/india/state"

Aggr_user_state_list = os.listdir(aggr_usr_path)
print(Aggr_user_state_list)

In [125]:
# Extract the Aggr_User

clm = {'state':[], 'year':[], 'quater':[], 'User_Brand':[], 'User_count':[], 'User_percentage':[]}

# Define the path to the aggregated user data
agg_usr_path = "/content/pulse/data/aggregated/user/country/india/state"
#print(os.listdir(agg_usr_path))

# List all states (folders) in the given path
Aggr_user_state_list = os.listdir(agg_usr_path)

# pull data
for i in Aggr_user_state_list:
  p_i = os.path.join(agg_usr_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print('p_k')

    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Check if 'usersByDevice' key exists and is not None
    if D['data'] and 'usersByDevice' in D['data'] and D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
            clm['User_Brand'].append(z['brand'])
            clm['User_count'].append(z['count'])
            clm['User_percentage'].append(z['percentage'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
aggr_user = pd.DataFrame(clm)
print(aggr_user)

           state  year  quater User_Brand  User_count  User_percentage
0     puducherry  2020       4     Xiaomi       71555         0.223871
1     puducherry  2020       4    Samsung       63620         0.199045
2     puducherry  2020       4       Vivo       61208         0.191499
3     puducherry  2020       4       Oppo       33860         0.105936
4     puducherry  2020       4     Realme       14505         0.045381
...          ...   ...     ...        ...         ...              ...
1579  tamil-nadu  2018       4     Lenovo      194451         0.037395
1580  tamil-nadu  2018       4      Apple      191032         0.036738
1581  tamil-nadu  2018       4    OnePlus      180637         0.034739
1582  tamil-nadu  2018       4     Huawei      164880         0.031708
1583  tamil-nadu  2018       4     Others      558850         0.107474

[1584 rows x 6 columns]

### 1.3 Aggregated insurance

In [126]:
# Extract the Aggregated_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the aggregated insurance data
aggr_insurance_path = "/content/pulse/data/aggregated/insurance/country/india/state"
#print(os.listdir(aggr_insurance_path))


# List all states (folders) in the given path
Aggr_insurance_state_list = os.listdir(aggr_insurance_path)
#print(Aggr_insurance_state_list)


# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)


  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Loading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
aggr_insurance = pd.DataFrame(clm)
print(aggr_insurance)

          state  year  quater       name   count       amount
0    puducherry  2020       4  Insurance     234     197955.0
1    puducherry  2024       4  Insurance    2838    3896033.0
2    puducherry  2021       4  Insurance     786     946607.0
3    puducherry  2023       4  Insurance    2447    3419395.0
4    puducherry  2022       4  Insurance    2331    2693130.0
..          ...   ...     ...        ...     ...          ...
174  tamil-nadu  2020       4  Insurance   10290    8993575.0
175  tamil-nadu  2024       4  Insurance  127002  173784251.0
176  tamil-nadu  2021       4  Insurance   33037   42184290.0
177  tamil-nadu  2023       4  Insurance  104871  139433796.0
178  tamil-nadu  2022       4  Insurance  125491  146457790.0

[179 rows x 6 columns]

### **2.1 Map insurance**

In [127]:
# Extract the Map_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the map insurance data
map_insurance_path = "/content/pulse/data/map/insurance/country/india/state"
#print(os.listdir(map_insurance_path))


# List all states (folders) in the given path
map_insurance_state_list = os.listdir(map_insurance_path)
#print(map_insurance_state_list)

# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
     #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # l;oading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
map_insurance = pd.DataFrame(clm)
print(map_insurance)

          state  year  quater       name   count       amount
0    puducherry  2020       4  Insurance     234     197955.0
1    puducherry  2024       4  Insurance    2838    3896033.0
2    puducherry  2021       4  Insurance     786     946607.0
3    puducherry  2023       4  Insurance    2447    3419395.0
4    puducherry  2022       4  Insurance    2331    2693130.0
..          ...   ...     ...        ...     ...          ...
174  tamil-nadu  2020       4  Insurance   10290    8993575.0
175  tamil-nadu  2024       4  Insurance  127002  173784251.0
176  tamil-nadu  2021       4  Insurance   33037   42184290.0
177  tamil-nadu  2023       4  Insurance  104871  139433796.0
178  tamil-nadu  2022       4  Insurance  125491  146457790.0

[179 rows x 6 columns]

## 2.2 Map user

In [128]:
# Define the dictionary to store extracted data
clm_user = {'state': [], 'year': [], 'quarter': [], 'district': [], 'registered_users': [], 'app_opens': []}

# Set the file path
map_user_path = "/content/pulse/data/map/user/hover/country/india/state"
state_list = os.listdir(map_user_path)

for state in state_list:
    state_path = os.path.join(map_user_path, state)
    if not os.path.isdir(state_path):  # Skip if not a directory
        continue

    year_list = os.listdir(state_path)

    for year in year_list:
        year_path = os.path.join(state_path, year)
        if not os.path.isdir(year_path):  # Skip if not a directory
            continue

        quarter_list = os.listdir(year_path)

        for quarter in quarter_list:
            quarter_path = os.path.join(year_path, quarter)
            if not quarter_path.endswith('.json'):  # Ensure it's a JSON file
                continue

            with open(quarter_path, 'r') as data_file:
                data = json.load(data_file)

            if data.get("data") and "hoverData" in data["data"]:
                for district, values in data["data"]["hoverData"].items():
                    clm_user['state'].append(state)
                    clm_user['year'].append(year)
                    clm_user['quarter'].append(int(quarter.strip('.json')))
                    clm_user['district'].append(district)
                    clm_user['registered_users'].append(values.get('registeredUsers', 0))
                    clm_user['app_opens'].append(values.get('appOpens', 0))

# Convert to DataFrame
map_user = pd.DataFrame(clm_user)
print(map_user)

            state  year  quarter             district  registered_users  \
0      puducherry  2020        3    karaikal district             26910
1      puducherry  2020        3  puducherry district            239707
2      puducherry  2020        3       yanam district             11054
3      puducherry  2020        3        mahe district              7502
4      puducherry  2020        2    karaikal district             23612
...           ...   ...      ...                  ...               ...
20603  tamil-nadu  2018        4       theni district             49911
20604  tamil-nadu  2018        4     ranipet district             75577
20605  tamil-nadu  2018        4    namakkal district             94773
20606  tamil-nadu  2018        4     vellore district            103405
20607  tamil-nadu  2018        4  thiruvarur district             31566

       app_opens
0         303955
1        3437500
2         396823
3          83881
4         239666
...          ...
20603          0
20604          0
20605          0
20606          0
20607          0

[20608 rows x 6 columns]

## 2.3 map_transaction

In [129]:
clm_transaction = {'state': [], 'year': [], 'quater': [], 'transaction_count': [], 'transaction_amount': []}

map_transaction_path = "/content/pulse/data/map/transaction/hover/country/india"
year_list = os.listdir(map_transaction_path)

for year in year_list:
    year_path = os.path.join(map_transaction_path, year)

    if not os.path.isdir(year_path):  # Skip if it's not a directory
        continue

    quarter_list = os.listdir(year_path)

    for quarter in quarter_list:
        quarter_path = os.path.join(year_path, quarter)

        if not quarter_path.endswith('.json'):  # Skip non-JSON files
            continue

        with open(quarter_path, 'r') as Data:
            D = json.load(Data)

        if 'data' in D and 'hoverDataList' in D['data']:
            for entry in D['data']['hoverDataList']:
                clm_transaction['state'].append(entry['name'])
                clm_transaction['year'].append(year)
                clm_transaction['quater'].append(int(quarter.strip('.json')))
                clm_transaction['transaction_count'].append(entry['metric'][0]['count'])
                clm_transaction['transaction_amount'].append(entry['metric'][0]['amount'])

map_transaction = pd.DataFrame(clm_transaction)
print(map_transaction)

                  state  year  quater  transaction_count  transaction_amount
0            puducherry  2020       3            1730902        3.598080e+09
1            tamil nadu  2020       3           70277825        1.438414e+11
2         uttar pradesh  2020       3          127405259        2.486900e+11
3        madhya pradesh  2020       3          108579881        2.057017e+11
4        andhra pradesh  2020       3          204902935        4.670841e+11
...                 ...   ...     ...                ...                 ...
1003    jammu & kashmir  2018       4            2721310        5.664720e+09
1004                goa  2018       4             514755        1.153005e+09
1005  arunachal pradesh  2018       4             176429        5.040400e+08
1006              delhi  2018       4           29187719        3.972286e+10
1007        uttarakhand  2018       4            3178761        5.654272e+09

[1008 rows x 5 columns]

## 3.1 top_insurance

In [130]:
# Define data structure
clm_insurance = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_insurance_count':[], 'top_insurance_amount':[]}

# Define the path to the top insurance data
top_insurance_path = "/content/pulse/data/top/insurance/country/india/state"
Top_insurance_state_list = os.listdir(top_insurance_path)

# Extract data
for i in Top_insurance_state_list:
    p_i = os.path.join(top_insurance_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(dist['entityName'])
                        clm_insurance['top_insurance_count'].append(dist['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(pin['entityName'])
                        clm_insurance['top_insurance_count'].append(pin['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_insurance = pd.DataFrame(clm_insurance)
print(top_insurance)

            state  year  quater district/pincode  top_insurance_count  \
0      puducherry  2020       3       puducherry                  143
1      puducherry  2020       3            yanam                   25
2      puducherry  2020       3         karaikal                   14
3      puducherry  2020       3             mahe                    9
4      puducherry  2020       3           605004                   26
...           ...   ...     ...              ...                  ...
12271  tamil-nadu  2022       4           600106                  909
12272  tamil-nadu  2022       4           600083                  886
12273  tamil-nadu  2022       4           600056                  869
12274  tamil-nadu  2022       4           600053                  812
12275  tamil-nadu  2022       4           600119                  808

       top_insurance_amount
0                   40754.0
1                    6919.0
2                    5445.0
3                    5281.0
4                    6761.0
...                     ...
12271              889359.0
12272              844984.0
12273              865067.0
12274              834462.0
12275             1024353.0

[12276 rows x 6 columns]

## 3.2 top transactions

In [131]:
# Define data structure
clm = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_transaction_count':[], 'top_transaction_amount':[]}

# Define the path to the top transactions data
top_txn_path = "/content/pulse/data/top/transaction/country/india/state"
Top_txn_state_list = os.listdir(top_txn_path)

# Extract data
for i in Top_txn_state_list:
    p_i = os.path.join(top_txn_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(dist['entityName'])
                        clm['top_transaction_count'].append(dist['metric']['count'])
                        clm['top_transaction_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(pin['entityName'])
                        clm['top_transaction_count'].append(pin['metric']['count'])
                        clm['top_transaction_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_transaction = pd.DataFrame(clm)
print(top_transaction)

            state  year  quater district/pincode  top_transaction_count  \
0      puducherry  2020       3       puducherry                1515874
1      puducherry  2020       3            yanam                 105613
2      puducherry  2020       3         karaikal                  85556
3      puducherry  2020       3             mahe                  23859
4      puducherry  2020       3           605002                 563408
...           ...   ...     ...              ...                    ...
18290  tamil-nadu  2018       4           635126                 203970
18291  tamil-nadu  2018       4           641601                 183276
18292  tamil-nadu  2018       4           602105                 165149
18293  tamil-nadu  2018       4           600100                 155543
18294  tamil-nadu  2018       4           620001                 155412

       top_transaction_amount
0                3.144232e+09
1                2.123505e+08
2                2.017964e+08
3                3.970115e+07
4                1.463606e+09
...                       ...
18290            4.214194e+08
18291            3.526235e+08
18292            2.477569e+08
18293            2.785690e+08
18294            3.055017e+08

[18295 rows x 6 columns]

## 3.3 Top_user

In [132]:
# Define dictionary structure
clm_user = {'state': [], 'year': [], 'quater': [], 'district/pincode': [], 'top_user_count': []}

# Define the path
top_user_path = "/content/pulse/data/top/user/country/india/state"
Top_user_state_list = os.listdir(top_user_path)

for i in Top_user_state_list:
    p_i = os.path.join(top_user_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(dist['name'])
                        clm_user['top_user_count'].append(dist['registeredUsers'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(pin['name'])
                        clm_user['top_user_count'].append(pin['registeredUsers'])

# Convert dictionary to DataFrame
top_user = pd.DataFrame(clm_user)
print(top_user)

            state  year  quater district/pincode  top_user_count
0      puducherry  2020       3       puducherry          239707
1      puducherry  2020       3         karaikal           26910
2      puducherry  2020       3            yanam           11054
3      puducherry  2020       3             mahe            7502
4      puducherry  2020       3           605110           32402
...           ...   ...     ...              ...             ...
18291  tamil-nadu  2018       4           600056           34394
18292  tamil-nadu  2018       4           635126           33327
18293  tamil-nadu  2018       4           600119           32763
18294  tamil-nadu  2018       4           600053           32652
18295  tamil-nadu  2018       4           600003           31780

[18296 rows x 5 columns]