<a href="https://colab.research.google.com/github/SankarSivan/Guvi_DSC_Case-study/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (2702/2702), done.
remote: Compressing objects: 100% (2153/2153), done.
remote: Total 17904 (delta 842), reused 2301 (delta 507), pack-reused 15202 (from 1)
Receiving objects: 100% (17904/17904), 26.21 MiB | 12.66 MiB/s, done.
Resolving deltas: 100% (8584/8584), done.
Updating files: 100% (9029/9029), done.

In [7]:
import pandas as pd
import json
import os

### **1.1 Aggregated_Transaction Data Exraction**

In [8]:
import os
path = "/content/pulse/data/aggregated/transaction/country/india/state"
Aggr_state_list = os.listdir(path)
print(Aggr_state_list)

['manipur', 'assam', 'arunachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'himachal-pradesh', 'telangana', 'goa', 'odisha', 'bihar', 'delhi', 'chandigarh', 'ladakh', 'uttarakhand', 'mizoram', 'haryana', 'gujarat', 'nagaland', 'andhra-pradesh', 'west-bengal', 'sikkim', 'chhattisgarh', 'madhya-pradesh', 'tamil-nadu', 'karnataka', 'lakshadweep', 'puducherry', 'kerala', 'rajasthan', 'meghalaya', 'maharashtra', 'punjab', 'uttar-pradesh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'tripura', 'andaman-&-nicobar-islands']

In [9]:
# Extract the Aggr_data

clm = {'state':[], 'year':[], 'quater':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}

# pull data
for i in Aggr_state_list:
  p_i = path + '/' + i + '/'
  Aggr_yr = os.listdir(p_i)
 #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = p_i + j + '/'
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    for k in Aggr_qutr:
      p_k = p_j + k
      Data = open(p_k, 'r')
      D = json.load(Data)

      for z in D['data']['transactionData']:
        Name = z['name']
        Count = z['paymentInstruments'][0]['count']
        Amount = z['paymentInstruments'][0]['amount']
        clm['transaction_type'].append(Name)
        clm['transaction_count'].append(Count)
        clm['transaction_amount'].append(Amount)
        clm ['state'].append(i)
        clm ['year'].append(j)
        clm ['quater'].append(int(k.strip('.json')))

aggr_trans = pd.DataFrame(clm)
print(aggr_trans)

                          state  year  quater          transaction_type  \
0                       manipur  2021       2     Peer-to-peer payments
1                       manipur  2021       2  Recharge & bill payments
2                       manipur  2021       2         Merchant payments
3                       manipur  2021       2        Financial Services
4                       manipur  2021       2                    Others
...                         ...   ...     ...                       ...
5029  andaman-&-nicobar-islands  2020       1     Peer-to-peer payments
5030  andaman-&-nicobar-islands  2020       1  Recharge & bill payments
5031  andaman-&-nicobar-islands  2020       1         Merchant payments
5032  andaman-&-nicobar-islands  2020       1        Financial Services
5033  andaman-&-nicobar-islands  2020       1                    Others

      transaction_count  transaction_amount
0               1372821        7.041838e+09
1               1187952        3.051038e+08
2                510734        5.314848e+08
3                  4165        4.256098e+06
4                 10603        7.145346e+06
...                 ...                 ...
5029              18324        1.423324e+08
5030              18268        1.085041e+07
5031               4424        7.752872e+06
5032                 66        2.082317e+05
5033                216        3.323932e+05

[5034 rows x 6 columns]

### **1.2 Aggregated User Data Extraction**

aggr_usr_path = "/content/pulse/data/aggregated/user/country/india/state"

Aggr_user_state_list = os.listdir(aggr_usr_path)
print(Aggr_user_state_list)

In [10]:
# Extract the Aggr_User

clm = {'state':[], 'year':[], 'quater':[], 'User_Brand':[], 'User_count':[], 'User_percentage':[]}

# Define the path to the aggregated user data
agg_usr_path = "/content/pulse/data/aggregated/user/country/india/state"
#print(os.listdir(agg_usr_path))

# List all states (folders) in the given path
Aggr_user_state_list = os.listdir(agg_usr_path)

# pull data
for i in Aggr_user_state_list:
  p_i = os.path.join(agg_usr_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print('p_k')

    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Check if 'usersByDevice' key exists and is not None
    if D['data'] and 'usersByDevice' in D['data'] and D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
            clm['User_Brand'].append(z['brand'])
            clm['User_count'].append(z['count'])
            clm['User_percentage'].append(z['percentage'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
aggr_user = pd.DataFrame(clm)
print(aggr_user)

                          state  year  quater User_Brand  User_count  \
0                       manipur  2021       1     Xiaomi      149035
1                       manipur  2021       1    Samsung       52212
2                       manipur  2021       1       Vivo       37725
3                       manipur  2021       1       Oppo       26807
4                       manipur  2021       1     Realme       12487
...                         ...   ...     ...        ...         ...
1975  andaman-&-nicobar-islands  2020       1     Huawei         891
1976  andaman-&-nicobar-islands  2020       1      Apple         735
1977  andaman-&-nicobar-islands  2020       1   Motorola         715
1978  andaman-&-nicobar-islands  2020       1     Lenovo         500
1979  andaman-&-nicobar-islands  2020       1     Others        2257

      User_percentage
0            0.476656
1            0.166989
2            0.120655
3            0.085736
4            0.039937
...               ...
1975         0.031409
1976         0.025909
1977         0.025204
1978         0.017625
1979         0.079561

[1980 rows x 6 columns]

### **1.3 Aggregated_insurance_Data_Extraction**

In [11]:
# Extract the Aggregated_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the aggregated insurance data
aggr_insurance_path = "/content/pulse/data/aggregated/insurance/country/india/state"
#print(os.listdir(aggr_insurance_path))


# List all states (folders) in the given path
Aggr_insurance_state_list = os.listdir(aggr_insurance_path)
#print(Aggr_insurance_state_list)


# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)


  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Loading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
Aggregated_insurance = pd.DataFrame(clm)
print(Aggregated_insurance)

                         state  year  quater       name  count     amount
0                      manipur  2021       1  Insurance    136    72254.0
1                      manipur  2023       1  Insurance    222   632084.0
2                      manipur  2024       1  Insurance    385   685052.0
3                      manipur  2022       1  Insurance    177   517854.0
4                      manipur  2020       3  Insurance    134    45164.0
..                         ...   ...     ...        ...    ...        ...
175  andaman-&-nicobar-islands  2021       1  Insurance    225   244266.0
176  andaman-&-nicobar-islands  2023       1  Insurance   1004  1439198.0
177  andaman-&-nicobar-islands  2024       1  Insurance   1371  1964556.0
178  andaman-&-nicobar-islands  2022       1  Insurance    768  1131287.0
179  andaman-&-nicobar-islands  2020       3  Insurance     41    15380.0

[180 rows x 6 columns]

### **2.1 Map_insurance_Data_Extraction**

In [12]:
# Extract the Map_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the map insurance data
map_insurance_path = "/content/pulse/data/map/insurance/country/india/state"
#print(os.listdir(map_insurance_path))


# List all states (folders) in the given path
map_insurance_state_list = os.listdir(map_insurance_path)
#print(map_insurance_state_list)

# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
     #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # l;oading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
map_insurance = pd.DataFrame(clm)
print(map_insurance)

                         state  year  quater       name  count     amount
0                      manipur  2021       1  Insurance    136    72254.0
1                      manipur  2023       1  Insurance    222   632084.0
2                      manipur  2024       1  Insurance    385   685052.0
3                      manipur  2022       1  Insurance    177   517854.0
4                      manipur  2020       3  Insurance    134    45164.0
..                         ...   ...     ...        ...    ...        ...
175  andaman-&-nicobar-islands  2021       1  Insurance    225   244266.0
176  andaman-&-nicobar-islands  2023       1  Insurance   1004  1439198.0
177  andaman-&-nicobar-islands  2024       1  Insurance   1371  1964556.0
178  andaman-&-nicobar-islands  2022       1  Insurance    768  1131287.0
179  andaman-&-nicobar-islands  2020       3  Insurance     41    15380.0

[180 rows x 6 columns]

## 2.2 Map user

In [19]:
# Define the dictionary to store extracted data
clm_user = {'state': [], 'year': [], 'quarter': [], 'district': [], 'registered_users': [], 'app_opens': []}

# Set the file path
map_user_path = "/content/pulse/data/map/user/hover/country/india/state"
state_list = os.listdir(map_user_path)

for state in state_list:
    state_path = os.path.join(map_user_path, state)
    if not os.path.isdir(state_path):  # Skip if not a directory
        continue

    year_list = os.listdir(state_path)

    for year in year_list:
        year_path = os.path.join(state_path, year)
        if not os.path.isdir(year_path):  # Skip if not a directory
            continue

        quarter_list = os.listdir(year_path)

        for quarter in quarter_list:
            quarter_path = os.path.join(year_path, quarter)
            if not quarter_path.endswith('.json'):  # Ensure it's a JSON file
                continue

            with open(quarter_path, 'r') as data_file:
                data = json.load(data_file)

            if data.get("data") and "hoverData" in data["data"]:
                for district, values in data["data"]["hoverData"].items():
                    clm_user['state'].append(state)
                    clm_user['year'].append(year)
                    clm_user['quarter'].append(int(quarter.strip('.json')))
                    clm_user['district'].append(district)
                    clm_user['registered_users'].append(values.get('registeredUsers', 0))
                    clm_user['app_opens'].append(values.get('appOpens', 0))

# Convert to DataFrame
map_user_df = pd.DataFrame(clm_user)
print(map_user_df)

                           state  year  quarter  \
0                        manipur  2021        2
1                        manipur  2021        2
2                        manipur  2021        2
3                        manipur  2021        2
4                        manipur  2021        2
...                          ...   ...      ...
20603  andaman-&-nicobar-islands  2020        3
20604  andaman-&-nicobar-islands  2020        3
20605  andaman-&-nicobar-islands  2020        1
20606  andaman-&-nicobar-islands  2020        1
20607  andaman-&-nicobar-islands  2020        1

                                district  registered_users  app_opens
0                     kangpokpi district             20703     699332
1                         noney district              3566     233348
2                   imphal east district             66388     698750
3                       thoubal district             31139     379556
4                      kakching district             13816     179017
...                                  ...               ...        ...
20603             south andaman district             34833     417785
20604                  nicobars district              1147      21227
20605  north and middle andaman district              3315      30444
20606             south andaman district             24174     151529
20607                  nicobars district               879      11613

[20608 rows x 6 columns]

## 3.1 top_insurance

In [21]:
# Define data structure
clm_insurance = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_insurance_count':[], 'top_insurance_amount':[]}

# Define the path to the top insurance data
top_insurance_path = "/content/pulse/data/top/insurance/country/india/state"
Top_insurance_state_list = os.listdir(top_insurance_path)

# Extract data
for i in Top_insurance_state_list:
    p_i = os.path.join(top_insurance_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(dist['entityName'])
                        clm_insurance['top_insurance_count'].append(dist['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(pin['entityName'])
                        clm_insurance['top_insurance_count'].append(pin['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_insurance = pd.DataFrame(clm_insurance)
print(top_insurance)

                           state  year  quater district/pincode  \
0                        manipur  2021       2      imphal west
1                        manipur  2021       2      imphal east
2                        manipur  2021       2        kangpokpi
3                        manipur  2021       2           ukhrul
4                        manipur  2021       2          thoubal
...                          ...   ...     ...              ...
12271  andaman-&-nicobar-islands  2020       3           744103
12272  andaman-&-nicobar-islands  2020       3           744302
12273  andaman-&-nicobar-islands  2020       3           744211
12274  andaman-&-nicobar-islands  2020       3           744301
12275  andaman-&-nicobar-islands  2020       3           744102

       top_insurance_count  top_insurance_amount
0                       37               32816.0
1                       36               19393.0
2                        9                5037.0
3                        8                4637.0
4                        7                2340.0
...                    ...                   ...
12271                    3                 947.0
12272                    3                 562.0
12273                    2                 101.0
12274                    2                 886.0
12275                    2                 314.0

[12276 rows x 6 columns]

## 3.2 Top Transaction

In [24]:
# Define data structure
clm = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_transaction_count':[], 'top_transaction_amount':[]}

# Define the path to the top transactions data
top_txn_path = "/content/pulse/data/top/transaction/country/india/state"
Top_txn_state_list = os.listdir(top_txn_path)

# Extract data
for i in Top_txn_state_list:
    p_i = os.path.join(top_txn_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(dist['entityName'])
                        clm['top_transaction_count'].append(dist['metric']['count'])
                        clm['top_transaction_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(pin['entityName'])
                        clm['top_transaction_count'].append(pin['metric']['count'])
                        clm['top_transaction_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_transaction = pd.DataFrame(clm)
print(top_transaction)

                           state  year  quater district/pincode  \
0                        manipur  2021       2      imphal west
1                        manipur  2021       2      imphal east
2                        manipur  2021       2          thoubal
3                        manipur  2021       2        bishnupur
4                        manipur  2021       2    churachandpur
...                          ...   ...     ...              ...
18290  andaman-&-nicobar-islands  2020       1           744301
18291  andaman-&-nicobar-islands  2020       1           744202
18292  andaman-&-nicobar-islands  2020       1           744104
18293  andaman-&-nicobar-islands  2020       1           744201
18294  andaman-&-nicobar-islands  2020       1           744107

       top_transaction_count  top_transaction_amount
0                    2353896            5.697696e+09
1                     179337            4.919778e+08
2                      91264            2.685142e+08
3                      89095            2.609005e+08
4                      80524            2.739623e+08
...                      ...                     ...
18290                   1819            6.901162e+06
18291                   1794            5.037742e+06
18292                   1302            5.293130e+06
18293                   1157            1.242639e+06
18294                   1043            2.990354e+06

[18295 rows x 6 columns]

## 2.3 map_transaction

In [16]:
clm_transaction = {'state': [], 'year': [], 'quater': [], 'transaction_count': [], 'transaction_amount': []}

map_transaction_path = "/content/pulse/data/map/transaction/hover/country/india"
year_list = os.listdir(map_transaction_path)

for year in year_list:
    year_path = os.path.join(map_transaction_path, year)

    if not os.path.isdir(year_path):  # Skip if it's not a directory
        continue

    quarter_list = os.listdir(year_path)

    for quarter in quarter_list:
        quarter_path = os.path.join(year_path, quarter)

        if not quarter_path.endswith('.json'):  # Skip non-JSON files
            continue

        with open(quarter_path, 'r') as Data:
            D = json.load(Data)

        if 'data' in D and 'hoverDataList' in D['data']:
            for entry in D['data']['hoverDataList']:
                clm_transaction['state'].append(entry['name'])
                clm_transaction['year'].append(year)
                clm_transaction['quater'].append(int(quarter.strip('.json')))
                clm_transaction['transaction_count'].append(entry['metric'][0]['count'])
                clm_transaction['transaction_amount'].append(entry['metric'][0]['amount'])

map_transaction_df = pd.DataFrame(clm_transaction)
print(map_transaction_df)

                  state  year  quater  transaction_count  transaction_amount
0            puducherry  2021       2            3751387        6.498835e+09
1            tamil nadu  2021       2          146158442        2.634873e+11
2         uttar pradesh  2021       2          241949131        4.821725e+11
3        madhya pradesh  2021       2          223314680        4.255008e+11
4        andhra pradesh  2021       2          352767134        8.507375e+11
...                 ...   ...     ...                ...                 ...
1003    jammu & kashmir  2020       1             921630        2.937643e+09
1004                goa  2020       1            1881237        3.410371e+09
1005  arunachal pradesh  2020       1             567175        1.381759e+09
1006              delhi  2020       1           81747604        1.336165e+11
1007        uttarakhand  2020       1            9131784        1.615808e+10

[1008 rows x 5 columns]

## 3.3 Top_user

In [20]:
# Define dictionary structure
clm_user = {'state': [], 'year': [], 'quater': [], 'district/pincode': [], 'top_user_count': []}

# Define the path
top_user_path = "/content/pulse/data/top/user/country/india/state"
Top_user_state_list = os.listdir(top_user_path)

for i in Top_user_state_list:
    p_i = os.path.join(top_user_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(dist['name'])
                        clm_user['top_user_count'].append(dist['registeredUsers'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(pin['name'])
                        clm_user['top_user_count'].append(pin['registeredUsers'])

# Convert dictionary to DataFrame
top_user = pd.DataFrame(clm_user)
print(top_user)

                           state  year  quater district/pincode  \
0                        manipur  2021       2      imphal west
1                        manipur  2021       2      imphal east
2                        manipur  2021       2          thoubal
3                        manipur  2021       2        bishnupur
4                        manipur  2021       2    churachandpur
...                          ...   ...     ...              ...
18291  andaman-&-nicobar-islands  2020       1           744104
18292  andaman-&-nicobar-islands  2020       1           744107
18293  andaman-&-nicobar-islands  2020       1           744112
18294  andaman-&-nicobar-islands  2020       1           744211
18295  andaman-&-nicobar-islands  2020       1           744301

       top_user_count
0              102833
1               66388
2               31139
3               29671
4               25573
...               ...
18291            1154
18292            1062
18293             889
18294             886
18295             669

[18296 rows x 5 columns]

## map_transaction