<a href="https://colab.research.google.com/github/SankarSivan/Guvi_DSC_Case-study/blob/Phonepe_Pulse/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (2702/2702), done.
remote: Compressing objects: 100% (2153/2153), done.
remote: Total 17904 (delta 842), reused 2301 (delta 507), pack-reused 15202 (from 1)
Receiving objects: 100% (17904/17904), 26.21 MiB | 16.99 MiB/s, done.
Resolving deltas: 100% (8584/8584), done.
Updating files: 100% (9029/9029), done.

In [5]:
import pandas as pd
import json
import os

### **1.1 Aggregated_Transaction Data Exraction**

In [6]:
import os
path = "/content/pulse/data/aggregated/transaction/country/india/state"
Aggr_state_list = os.listdir(path)
print(Aggr_state_list)

['tripura', 'arunachal-pradesh', 'andhra-pradesh', 'chandigarh', 'ladakh', 'jammu-&-kashmir', 'madhya-pradesh', 'west-bengal', 'andaman-&-nicobar-islands', 'lakshadweep', 'bihar', 'assam', 'manipur', 'uttarakhand', 'delhi', 'jharkhand', 'karnataka', 'goa', 'chhattisgarh', 'meghalaya', 'dadra-&-nagar-haveli-&-daman-&-diu', 'odisha', 'tamil-nadu', 'rajasthan', 'uttar-pradesh', 'punjab', 'sikkim', 'himachal-pradesh', 'kerala', 'puducherry', 'nagaland', 'telangana', 'mizoram', 'gujarat', 'maharashtra', 'haryana']

In [7]:
# Extract the Aggr_data

clm = {'state':[], 'year':[], 'quater':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}

# pull data
for i in Aggr_state_list:
  p_i = path + '/' + i + '/'
  Aggr_yr = os.listdir(p_i)
 #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = p_i + j + '/'
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    for k in Aggr_qutr:
      p_k = p_j + k
      Data = open(p_k, 'r')
      D = json.load(Data)

      for z in D['data']['transactionData']:
        Name = z['name']
        Count = z['paymentInstruments'][0]['count']
        Amount = z['paymentInstruments'][0]['amount']
        clm['transaction_type'].append(Name)
        clm['transaction_count'].append(Count)
        clm['transaction_amount'].append(Amount)
        clm ['state'].append(i)
        clm ['year'].append(j)
        clm ['quater'].append(int(k.strip('.json')))

aggr_trans = pd.DataFrame(clm)
print(aggr_trans)

        state  year  quater          transaction_type  transaction_count  \
0     tripura  2021       1     Peer-to-peer payments             643366
1     tripura  2021       1  Recharge & bill payments             508718
2     tripura  2021       1         Merchant payments             350366
3     tripura  2021       1        Financial Services               3146
4     tripura  2021       1                    Others               5827
...       ...   ...     ...                       ...                ...
5029  haryana  2022       2         Merchant payments          130033573
5030  haryana  2022       2     Peer-to-peer payments           84219451
5031  haryana  2022       2  Recharge & bill payments           20011709
5032  haryana  2022       2        Financial Services              89805
5033  haryana  2022       2                    Others             345424

      transaction_amount
0           2.821226e+09
1           1.732111e+08
2           3.337433e+08
3           2.879929e+06
4           4.281068e+06
...                  ...
5029        7.692635e+10
5030        3.005048e+11
5031        1.745733e+10
5032        1.206101e+08
5033        2.249492e+08

[5034 rows x 6 columns]

### **1.2 Aggregated User Data Extraction**

aggr_usr_path = "/content/pulse/data/aggregated/user/country/india/state"

Aggr_user_state_list = os.listdir(aggr_usr_path)
print(Aggr_user_state_list)

In [8]:
# Extract the Aggr_User

clm = {'state':[], 'year':[], 'quater':[], 'User_Brand':[], 'User_count':[], 'User_percentage':[]}

# Define the path to the aggregated user data
agg_usr_path = "/content/pulse/data/aggregated/user/country/india/state"
#print(os.listdir(agg_usr_path))

# List all states (folders) in the given path
Aggr_user_state_list = os.listdir(agg_usr_path)

# pull data
for i in Aggr_user_state_list:
  p_i = os.path.join(agg_usr_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print('p_k')

    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Check if 'usersByDevice' key exists and is not None
    if D['data'] and 'usersByDevice' in D['data'] and D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
            clm['User_Brand'].append(z['brand'])
            clm['User_count'].append(z['count'])
            clm['User_percentage'].append(z['percentage'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
aggr_user = pd.DataFrame(clm)
print(aggr_user)

        state  year  quater User_Brand  User_count  User_percentage
0     tripura  2021       2     Xiaomi      116546         0.246839
1     tripura  2021       2    Samsung      104057         0.220388
2     tripura  2021       2       Oppo       66970         0.141840
3     tripura  2021       2       Vivo       58517         0.123937
4     tripura  2021       2     Realme       50025         0.105951
...       ...   ...     ...        ...         ...              ...
1579  haryana  2020       2   Motorola      151138         0.019672
1580  haryana  2020       2    OnePlus      142338         0.018527
1581  haryana  2020       2     Huawei      133152         0.017331
1582  haryana  2020       2     Lenovo       83928         0.010924
1583  haryana  2020       2     Others      619595         0.080646

[1584 rows x 6 columns]

### **1.3 Aggregated_insurance_Data_Extraction**

In [9]:
# Extract the Aggregated_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the aggregated insurance data
aggr_insurance_path = "/content/pulse/data/aggregated/insurance/country/india/state"
#print(os.listdir(aggr_insurance_path))


# List all states (folders) in the given path
Aggr_insurance_state_list = os.listdir(aggr_insurance_path)
#print(Aggr_insurance_state_list)


# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)


  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
      #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # Loading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
Aggregated_insurance = pd.DataFrame(clm)
print(Aggregated_insurance)

       state  year  quater       name  count      amount
0    tripura  2021       2  Insurance    381    409934.0
1    tripura  2024       2  Insurance   2188   2869489.0
2    tripura  2020       2  Insurance     88     22054.0
3    tripura  2023       2  Insurance   1563   2163813.0
4    tripura  2022       2  Insurance   1021   1509105.0
..       ...   ...     ...        ...    ...         ...
174  haryana  2021       2  Insurance  12516  11272453.0
175  haryana  2024       2  Insurance  46085  74779879.0
176  haryana  2020       2  Insurance   6321   1179814.0
177  haryana  2023       2  Insurance  40710  62186066.0
178  haryana  2022       2  Insurance  25352  33759068.0

[179 rows x 6 columns]

### **2.1 Map_insurance_Data_Extraction**

In [12]:
# Extract the Map_Insurance

clm = {'state':[], 'year':[], 'quater':[], 'name':[], 'count':[], 'amount':[]}

# Define the path to the map insurance data
map_insurance_path = "/content/pulse/data/map/insurance/country/india/state"
#print(os.listdir(map_insurance_path))


# List all states (folders) in the given path
map_insurance_state_list = os.listdir(map_insurance_path)
#print(map_insurance_state_list)

# pull data
for i in Aggr_insurance_state_list:
  p_i = os.path.join(aggr_insurance_path, i)
  Aggr_yr = os.listdir(p_i)
  #print(Aggr_yr)

  for j in Aggr_yr:
    p_j = os.path.join(p_i, j)
    Aggr_qutr = os.listdir(p_j)
    #print(Aggr_qutr)

    #The for loop for to be indented to be in the j loop
    for k in Aggr_qutr:
      p_k = os.path.join(p_j, k)
     #print(p_k)


    # Open and load JSON data
    with open(p_k, 'r') as Data:
      D = json.load(Data)

    # loading data to clm
    if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
        for z in D['data']['transactionData']:
            clm['name'].append(z['name'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])
            clm['state'].append(i)
            clm['year'].append(j)
            clm['quater'].append(int(k.strip('.json')))

# Convert dictionary to DataFrame
map_insurance = pd.DataFrame(clm)
print(map_insurance)

       state  year  quater       name  count      amount
0    tripura  2021       2  Insurance    381    409934.0
1    tripura  2024       2  Insurance   2188   2869489.0
2    tripura  2020       2  Insurance     88     22054.0
3    tripura  2023       2  Insurance   1563   2163813.0
4    tripura  2022       2  Insurance   1021   1509105.0
..       ...   ...     ...        ...    ...         ...
174  haryana  2021       2  Insurance  12516  11272453.0
175  haryana  2024       2  Insurance  46085  74779879.0
176  haryana  2020       2  Insurance   6321   1179814.0
177  haryana  2023       2  Insurance  40710  62186066.0
178  haryana  2022       2  Insurance  25352  33759068.0

[179 rows x 6 columns]

## **2.1  Map User Data Extraction**

In [38]:
clm_user = {'state': [], 'year': [], 'quater': [], 'registeredUsers': []}

map_user_path = "/content/pulse/data/map/user/hover/country/india/state"
year_list = os.listdir(map_user_path)

for year in year_list:
    year_path = os.path.join(map_user_path, year)

    if not os.path.isdir(year_path):  # Skip if it's not a directory
        continue

    quarter_list = os.listdir(year_path)

    for quarter in quarter_list:
        quarter_path = os.path.join(year_path, quarter)

        if not quarter_path.endswith('.json'):  # Skip non-JSON files
            continue

        with open(quarter_path, 'r') as Data:
            D = json.load(Data)

        if 'data' in D and 'hoverDataList' in D['data']:
            for entry in D['data']['hoverDataList']:
                clm_user['state'].append(entry['name'])
                clm_user['year'].append(year)
                clm_user['quater'].append(int(quarter.strip('.json')))
                clm_user['registeredUsers'].append(entry['metric'][0]['count'])

map_user_df = pd.DataFrame(clm_user)
print(map_user_df)

Empty DataFrame
Columns: [state, year, quater, registeredUsers]
Index: []

## 2.2 Map Transaction Data Extraction

In [19]:
clm = {'state':[], 'district':[], 'year':[], 'quater':[], 'total_transactions':[], 'total_transaction_amount':[]}
#/content/pulse/data/map/transaction/hover/country/india/state
map_txn_path = "/content/pulse/data/map/transaction/hover/country/india/state" #/content/pulse/data/map/transaction/country/india/state
Map_txn_state_list = os.listdir(map_txn_path)

for i in Map_txn_state_list:
    p_i = os.path.join(map_txn_path, i)
    Map_yr = os.listdir(p_i)

    for j in Map_yr:
        p_j = os.path.join(p_i, j)
        Map_qutr = os.listdir(p_j)

        for k in Map_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
                for z in D['data']['transactionData']:
                    clm['district'].append(z['name'])
                    clm['total_transactions'].append(z['paymentInstruments'][0]['count'])
                    clm['total_transaction_amount'].append(z['paymentInstruments'][0]['amount'])
                    clm['state'].append(i)
                    clm['year'].append(j)
                    clm['quater'].append(int(k.strip('.json')))

map_transaction = pd.DataFrame(clm)
print(map_transaction)

Empty DataFrame
Columns: [state, district, year, quater, total_transactions, total_transaction_amount]
Index: []

## 2.3 Map Insurance Data Extraction

In [35]:
clm_insurance = {'state': [], 'year': [], 'quater': [], 'count': [], 'amount': []}

map_insurance_path = "/content/pulse/data/map/insurance/hover/country/india"
year_list = os.listdir(map_insurance_path)

for year in year_list:
    year_path = os.path.join(map_insurance_path, year)

    if not os.path.isdir(year_path):  # Skip if it's not a directory
        continue

    quarter_list = os.listdir(year_path)

    for quarter in quarter_list:
        quarter_path = os.path.join(year_path, quarter)

        if not quarter_path.endswith('.json'):  # Skip non-JSON files
            continue

        with open(quarter_path, 'r') as Data:
            D = json.load(Data)

        if 'data' in D and 'hoverDataList' in D['data']:
            for entry in D['data']['hoverDataList']:
                clm_insurance['state'].append(entry['name'])
                clm_insurance['year'].append(year)
                clm_insurance['quater'].append(int(quarter.strip('.json')))
                clm_insurance['count'].append(entry['metric'][0]['count'])
                clm_insurance['amount'].append(entry['metric'][0]['amount'])

map_insurance_df = pd.DataFrame(clm_insurance)
print(map_insurance_df)

                 state  year  quater  count      amount
0           puducherry  2021       1    372    351827.0
1           tamil nadu  2021       1  14406  11180849.0
2        uttar pradesh  2021       1  24103  18027573.0
3       madhya pradesh  2021       1  14427   5567927.0
4       andhra pradesh  2021       1  22105  12749874.0
..                 ...   ...     ...    ...         ...
677    jammu & kashmir  2022       2   4071   7729792.0
678                goa  2022       2   3524   5093510.0
679  arunachal pradesh  2022       2    564   1360231.0
680              delhi  2022       2  26378  31787281.0
681        uttarakhand  2022       2   5773   9168313.0

[682 rows x 5 columns]

## 3.1 Top User Data Extraction

In [32]:
# Define dictionary structure
clm_user = {'state': [], 'year': [], 'quater': [], 'district/pincode': [], 'top_user_count': []}

# Define the path
top_user_path = "/content/pulse/data/top/user/country/india/state"
Top_user_state_list = os.listdir(top_user_path)

for i in Top_user_state_list:
    p_i = os.path.join(top_user_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(dist['name'])
                        clm_user['top_user_count'].append(dist['registeredUsers'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_user['state'].append(i)
                        clm_user['year'].append(j)
                        clm_user['quater'].append(int(k.strip('.json')))
                        clm_user['district/pincode'].append(pin['name'])
                        clm_user['top_user_count'].append(pin['registeredUsers'])

# Convert dictionary to DataFrame
top_user = pd.DataFrame(clm_user)
print(top_user)

         state  year  quater district/pincode  top_user_count
0      tripura  2021       1     west tripura          175841
1      tripura  2021       1    south tripura           47052
2      tripura  2021       1       sepahijala           46925
3      tripura  2021       1    north tripura           44051
4      tripura  2021       1           gomati           39920
...        ...   ...     ...              ...             ...
18291  haryana  2022       2           122002          255084
18292  haryana  2022       2           121102          253094
18293  haryana  2022       2           124001          237736
18294  haryana  2022       2           123401          237454
18295  haryana  2022       2           122004          224546

[18296 rows x 5 columns]

## 3.2 Top Transaction Data Extraction

In [26]:
# Define data structure
clm = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_transaction_count':[], 'top_transaction_amount':[]}

# Define the path to the top transactions data
top_txn_path = "/content/pulse/data/top/transaction/country/india/state"
Top_txn_state_list = os.listdir(top_txn_path)

# Extract data
for i in Top_txn_state_list:
    p_i = os.path.join(top_txn_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(dist['entityName'])
                        clm['top_transaction_count'].append(dist['metric']['count'])
                        clm['top_transaction_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm['state'].append(i)
                        clm['year'].append(j)
                        clm['quater'].append(int(k.strip('.json')))
                        clm['district/pincode'].append(pin['entityName'])
                        clm['top_transaction_count'].append(pin['metric']['count'])
                        clm['top_transaction_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_transaction = pd.DataFrame(clm)
print(top_transaction)

         state  year  quater district/pincode  top_transaction_count  \
0      tripura  2021       1     west tripura                 692376
1      tripura  2021       1    south tripura                 150265
2      tripura  2021       1    north tripura                 143060
3      tripura  2021       1       sepahijala                 141426
4      tripura  2021       1           gomati                 127271
...        ...   ...     ...              ...                    ...
18290  haryana  2022       2           131001                6009247
18291  haryana  2022       2           121002                5591996
18292  haryana  2022       2           121003                5492258
18293  haryana  2022       2           122004                5362365
18294  haryana  2022       2           124001                5115219

       top_transaction_amount
0                1.402040e+09
1                3.576440e+08
2                3.180747e+08
3                3.655255e+08
4                2.958151e+08
...                       ...
18290            1.146076e+10
18291            1.054224e+10
18292            7.581777e+09
18293            5.206030e+09
18294            1.045534e+10

[18295 rows x 6 columns]

## 3.3 Top Insurance Data Extraction

In [27]:
# Define data structure
clm_insurance = {'state':[], 'year':[], 'quater':[], 'district/pincode':[], 'top_insurance_count':[], 'top_insurance_amount':[]}

# Define the path to the top insurance data
top_insurance_path = "/content/pulse/data/top/insurance/country/india/state"
Top_insurance_state_list = os.listdir(top_insurance_path)

# Extract data
for i in Top_insurance_state_list:
    p_i = os.path.join(top_insurance_path, i)
    Top_yr = os.listdir(p_i)

    for j in Top_yr:
        p_j = os.path.join(p_i, j)
        Top_qutr = os.listdir(p_j)

        for k in Top_qutr:
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D['data']:
                # Extract district data
                if 'districts' in D['data'] and D['data']['districts']:
                    for dist in D['data']['districts']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(dist['entityName'])
                        clm_insurance['top_insurance_count'].append(dist['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(dist['metric']['amount'])

                # Extract pincode data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pin in D['data']['pincodes']:
                        clm_insurance['state'].append(i)
                        clm_insurance['year'].append(j)
                        clm_insurance['quater'].append(int(k.strip('.json')))
                        clm_insurance['district/pincode'].append(pin['entityName'])
                        clm_insurance['top_insurance_count'].append(pin['metric']['count'])
                        clm_insurance['top_insurance_amount'].append(pin['metric']['amount'])

# Convert dictionary to DataFrame
top_insurance = pd.DataFrame(clm_insurance)
print(top_insurance)

         state  year  quater district/pincode  top_insurance_count  \
0      tripura  2021       1     west tripura                  166
1      tripura  2021       1    north tripura                   41
2      tripura  2021       1    south tripura                   34
3      tripura  2021       1       sepahijala                   32
4      tripura  2021       1           dhalai                   31
...        ...   ...     ...              ...                  ...
12271  haryana  2022       2           121001                  592
12272  haryana  2022       2           122002                  528
12273  haryana  2022       2           124001                  494
12274  haryana  2022       2           124507                  475
12275  haryana  2022       2           122003                  460

       top_insurance_amount
0                   96897.0
1                   36055.0
2                   14949.0
3                    9568.0
4                   12709.0
...                     ...
12271              694788.0
12272              550754.0
12273              651675.0
12274              636675.0
12275              542526.0

[12276 rows x 6 columns]