<a href="https://colab.research.google.com/github/SankarSivan/Guvi_DSC_Case-study/blob/main/tosql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# store data into sql server,
# data is code is there in other colab file

In [2]:
!pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.40)
Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.13.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from google.colab import userdata

In [15]:
# @title SQL Connection
from google.colab import userdata

# Connection details
username = userdata.get("Sql_username")
password = userdata.get("Sql_password")
host = "sql12.freesqldatabase.com"
port = 3306
database = userdata.get("Sql_database")

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [16]:
# Create inspector from the engine
inspector = inspect(engine)

In [17]:
# Get all table names
table_names = inspector.get_table_names()
print("✅ Available tables:", table_names)

✅ Available tables: ['aggr_insurance_data', 'aggr_trans_data', 'aggr_user_data', 'map_insurance_data', 'map_transaction_data', 'map_user_data', 'top_insurance_data', 'top_transaction_data', 'top_user_data']

In [18]:
for i in table_names:
    df = pd.read_sql_table(i, con = engine)
     # Print table name
    print(f"Table: {i}")
      # Print unique values count for each column in the table
    print(f"Unique counts for {i}: \n{df.nunique()}\n")

Table: aggr_insurance_data
Unique counts for aggr_insurance_data:
state      36
year        5
quater      2
name        1
count     179
amount    180
dtype: int64

Table: aggr_trans_data
Unique counts for aggr_trans_data:
state                   36
year                     7
quater                   4
transaction_type         5
transaction_count     4966
transaction_amount    5034
dtype: int64

Table: aggr_user_data
Unique counts for aggr_user_data:
state                36
year                  5
quater                1
User_Brand           20
User_count         1955
User_percentage    1977
dtype: int64

Table: map_insurance_data
Unique counts for map_insurance_data:
state      36
year        5
quater      2
name        1
count     179
amount    180
dtype: int64

Table: map_transaction_data
Unique counts for map_transaction_data:
state                   36
year                     7
quater                   4
transaction_count     1008
transaction_amount    1008
dtype: int64

Table: map_user_data
Unique counts for map_user_data:
state                  36
year                    7
quarter                 4
district              843
registered_users    20170
app_opens           16943
dtype: int64

Table: top_insurance_data
Unique counts for top_insurance_data:
state                      36
year                        5
quater                      4
district/pincode         1311
top_insurance_count      3085
top_insurance_amount    12008
dtype: int64

Table: top_transaction_data
Unique counts for top_transaction_data:
state                        36
year                          7
quater                        4
district/pincode           1245
top_transaction_count     18120
top_transaction_amount    18273
dtype: int64

Table: top_user_data
Unique counts for top_user_data:
state                  36
year                    7
quater                  4
district/pincode      863
top_user_count      17550
dtype: int64